.About {
  margin-top: 40px;
  padding: 0 15%;
}

#about-content{
  display: flex;
}

#about-content-left{
  flex: 2;
}

#about-content-right{
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .About {
    margin-top: 20px;
    padding: 10px;
  }

  #about-content,
  #section-profile__intro{
    flex-direction: column;
  }
}

.section-title{
  padding: 20px 40px;
}

.section-title h2{
  border-left: 10px solid #1F8B4C;
  padding-left: 15px;
}

.section-box{
  padding: 20px 40px;
  background-color: white;
  color: #555;
}

.section-box-item{
  margin: -20px -40px;
  padding: 20px 40px;
  background-color: white;
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

#section-profile__intro{
  display: flex;
}

#section-profile__intro h3, h4{
  margin-right: 10px;
}

#section-profile {
}

#section-profile-info {
}

#section-profile .title h4{
  font-weight: 700;
}

#section-profile .content h4{
  font-weight: 300;
}

#section-experience {
  
}

#section-education {

}

#section-skills {

}

#download-cv {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  background-color: #1F8B4C;
  border-radius: 3px;
}

#section-skills .progress {
  height: 10px;
  border-radius: 2px;
  background-image: none;
}

#section-skills .progress-bar {
  background-image: none;
  box-shadow: none;
}

#section-skills .left .progress-bar {
  background-color: #f0ad4e;
}

#section-skills .right .progress-bar {
  background-color: #337AB0;
}

#section-languages{
  margin-bottom: 40px;
}

#section-languages .progress {
  height: 10px;
  border-radius: 2px;
  background-image: none;
}

#section-languages .progress-bar {
  background-image: none;
  box-shadow: none;
}

#section-languages .red .progress-bar{
  background-color: rgb(220, 44, 31);
}

#section-languages .blue .progress-bar{
  background-color: rgb(3, 39, 123);
}

