.App {
  /*text-align: center;*/
  /*background-color: #EBEBEB;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
}

.App-body {
}

.section-title{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #555;
  text-align: center;
}

.section-box{
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px){
    .App-body{
      margin-left: -50px;
      margin-right: -50px;
    }
}

.section-box-item{
  margin: -20px -40px;
  padding: 20px 40px;
  background-color: white;
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.section-box-item:hover {
  color: white;
  background-color: #333;
}

.App-footer {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
