#header {
  /*box-shadow: 0px 0px 5px 0px #555;*/
}

#header .navbar {
  border: none;
  min-height: 50px;
  margin-bottom: 0px;
  /*box-shadow: 0px 0px 5px 0px #999;*/
}

#header .navbar-inverse{
  background-image: none;
  border-radius: 0px;
}

#header .navbar-brand, .navbar-nav li a{
  text-shadow: none;
}

#header .navbar-inverse{
  background-color: #fff;
  padding-top: 9px;
}

#header .navbar-inverse .navbar-nav .active a{
  color: #333;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: none;
  /* border-bottom: 5px solid #1F8B4C; */
}

#header .navbar-inverse .navbar-nav li a{
  font-size: 16px;
  color: #999;
  text-shadow: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header .navbar-inverse .navbar-toggle {
  background-color: #333;
  border-color: #333;
}

#header .navbar-inverse .navbar-toggle::hover{
  background-color: #333;
}

#header .navbar-inverse .navbar-toggle:focus{
  background-color: #333;
}

#header .navbar-inverse .navbar-collapse {
  border: none;
}

.sub-nav-bar {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  display: block;
  box-shadow: 0px 1px 5px 0px #ccc;
}

.sub-nav-items {
  display: inline-block;
  vertical-align: middle;
}

.sub-nav-item {
  color: #555;
  padding-right: 30px;
  display: inline-block;
}

.sub-nav-bar a:hover {
    color: #1F8B4C;
}

.sub-nav-bar a:active {
    color: #1F8B4C;
}

.sub-nav-bar a:link {
    color: #555;
    text-decoration: none;
}

.sub-nav-bar a:visited {
    color: #555;
}

#sticky-nav {
  z-index: 999;
}

@media (max-width: 768px){
    .sub-nav-bar {
      display: none;
    }
}