#header {
  box-shadow: 0px 0px 5px 0px #555;
}

#header .navbar {
  border: none;
  min-height: 50px;
  margin-bottom: 60px;
  
}

#header .navbar-inverse{
  background-image: none;
  border-radius: 0px;
  box-shadow: none;
}