#section-about {
  text-align: center;
  margin-top: 120px;
}

.call-to-actinon {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.call-to-actinon h5 {
  font-weight: 400;
}

.view-cv {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #2196F3;
  margin-bottom: 20px;
}

.view-portfolio {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #8BC34A;
}

#social-media {
  text-align: center;
}