.Home {
  margin-top: 70px;
}

@media (max-width: 768px){
    .Home {
      margin-top: 30px;
    }
}

#section-about {
  text-align: center;
}

#introduction {
  padding-top: 30px;
  padding-bottom: 150px;
}
#hello {
  color: #1F8B4C;
}

.call-to-actinon {
  margin-top: 30px;
}

.call-to-actinon h5 {
  font-weight: 700;
}

#view-cv {
  text-align: center;
  color: white;
  padding: 4px 15px 4px 15px;
  border-radius: 3px;
  background-color: #2196F3;
  margin-bottom: 20px;
}

#view-portfolio {
  text-align: center;
  color: white;
  padding: 4px 15px 4px 15px;
  border-radius: 3px;
  background-color: #8BC34A;
  margin-bottom: 20px;
}

#about-me {
  text-align: center;
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 70px;  
}

#about-me h3{
  line-height: 1.5;
  font-weight: 400;
}

#download-cv {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background-color: #1F8B4C;
  padding: 4px 35px 4px 35px;
}

#download-cv a {
  color: white;
  font-weight: 700;
}

#work h3{
  font-weight: 400;
  margin-bottom: 30px;
}

#work h4{
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}

.work-item {
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

#work-item-1 {
  background-color: #21D374;
}

.view-more-button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
  background-color: #4A4A4A;
  color: white;
  border-radius: 3px;
}

.work-item-image{

}

.work-item-image img{
  width: 100%;
  height: auto;
}

#contact {
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  background-color: #9012FE;
}

#contact h1 {
  font-weight: 300;
}

#contact a {
  font-weight: 700;
  color: white;
}

#email-box {
  color: white;
  background-color: #1F8B4C;
  border-radius: 1px;
  display: inline-block;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#email-box h5{
  font-weight: 400;
}

#social-media {
  text-align: center;
  color: #1F8B4C;
}