.Home {
}



#section-about {
  text-align: center;
}

#introduction {
  padding: 100px 10% 150px;
}

@media (max-width: 768px){
  #introduction {
    padding: 60px 10% 150px;
  }
}

#hello {
  color: #1F8B4C;
}

.call-to-actinon {
  margin-top: 30px;
}

.call-to-actinon h5 {
  font-weight: 700;
}

#view-cv {
  text-align: center;
  color: white;
  padding: 4px 15px 4px 15px;
  border-radius: 3px;
  background-color: #2196F3;
  margin-bottom: 20px;
  margin-right: 10px;
}

#view-portfolio {
  text-align: center;
  color: white;
  padding: 4px 15px 4px 15px;
  border-radius: 3px;
  background-color: #8BC34A;
  margin-bottom: 20px;
}

#about-me {
  text-align: center;
  background-color: #eee;
  padding: 60px 10% 150px;
}

#about-me h3{
  line-height: 1.5;
  font-weight: 300;
}

#work h3{
  font-weight: 400;
  margin-bottom: 30px;
}

#work h4{
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-work {
  margin-top: -100px;
  padding: 0 15%;
}

.home-work-item {
  color: white;
  margin-bottom: 30px;
  display: flex;
}

#work-item-1 {
  background-color: #21D374;
}

#work-item-2 {
  background-color: #79BAE5;
}

#work-item-3 {
  background-color: #FFF7E1;
  color: #4A4A4A;
}

#work-item-4 {
  background-color: #212121;
}

#work-item-5 {
  background-color:  #EDCB21; 
}

@media only screen and (max-width: 500px) {
  .home-work {
    padding: 0px;
  }

  .home-work-item {
    flex-direction: column;
    margin-bottom: 0;
    padding: 20px;
  }
}

.view-more-button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
  background-color: #4A4A4A;
  color: white;
  border-radius: 3px;
}

.work-item-description{
  flex: 1;
  padding: 40px;
}
.work-item-image{
  flex: 1;
  padding: 40px
}

.work-item-image img{
  width: 100%;
  height: auto;
}

#more-work {
  text-align: center;
}

#more-work-button {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  background-color: #1F8B4C;
  padding: 15px 35px 15px 35px;
}

#more-work-button h4 {
  color: white;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

#references {
  padding: 80px 10%;
  display: flex;
}

.home-reference{
 flex: 1;
 padding: 20px;
}

#references h2 {
  color: #4A4A4A;
  font-weight: 300;
  font-style: oblique;
  line-height: 1.25;
}

#references h3 {
  color: #4990E2;
  font-weight: 300;
}

#contact {
  padding: 40px 10%;
  color: white;
  background-color: #9012FE;
}

#contact h1 {
  font-weight: 300;
}

#contact a {
  font-weight: 700;
  color: white;
}

#email-box {
  color: white;
  background-color: #1F8B4C;
  border-radius: 1px;
  display: inline-block;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#email-box h5{
  font-weight: 400;
}

#social-media {
  text-align: center;
  color: #1F8B4C;
}