/* Portfolio Item */
.portfolio-item {
  margin-bottom: 30px;
  padding: 0px;
  background-color: white;
  /*box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 4px 0px rgba(0, 0, 0, 0.2);*/
  cursor: pointer;
}

a :hover .portfolio-item-content {
  display: block;
  color: #eee;
}

a :hover .portfolio-item-title {
  color: #333;
}

.portfolio-item-image{
  position: relative;
}

.portfolio-item-image img{
  width: 100%;
  height: auto;
}

.portfolio-item-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-item-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: none;
  background-color: rgba(31, 139, 76, 0.8);
}

#portfolio-intro{
  padding: 15vh 10% 25vh;
  background-color: #eee;
}

#portfolio-intro h1,p{
  max-width: 1300px;
  margin: auto;
}

.portfolio-work{
  padding: 0 10%;
  max-width: 1300px;
  margin: -120px auto 0;
}

.portfolio-work-item {
  color: white;
  display: flex;
  padding: 5%;
  margin-bottom: 30px;
}

.portfolio-work-item#work-item-4 h1,
.portfolio-work-item#work-item-4 h3,
.portfolio-work-item#work-item-4 h4{
  color: white;
}

/* Portfolio Item Page */
.portfolio-item-page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  position: relative;
  height: 100vh;
}

.portfolio-item-page-header-layer{
  background-color: rgba(31, 139, 76, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-item-back{
  position: relative;
  left: 10px;
  top: 10px;
}

.portfolio-item-top{
  position: fixed;
  bottom: 35px;
  right: 10%;
  border-radius: 15px;
}

.portfolio-item-top .ant-btn{
  border-radius: 20px;
}

.portfolio-item-back .ant-btn{
  background-color: transparent;
  border-radius: 15px;
  box-shadow: none;
}

.portfolio-item-page-header h1{
  font-size: 50px;
}

.portfolio-item-page-header h1,
.portfolio-item-page-header h4{
  color: white;
}

.portfolio-item-page-header-content{
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 999;
  padding: 20px;
  max-width: 80%;
}

.portfolio-item-page-body{
  display: flex;
  padding: 40px 10%;
  max-width: 1300px;
  margin: auto;
}

.portfolio-item-page-intro{
  flex: 1;
  padding: 20px;
}

.portfolio-item-page-intro-item{
  flex: 1;
  margin-bottom: 20px;
}

.portfolio-item-page-intro-item-title{
  border-left: 5px solid #1F8B4C;
  padding: 0 10px;
}

.portfolio-item-page-content{
  flex: 3;
  padding: 20px;
}

.portfolio-item-page-content h2{
  border-left: 10px solid #1F8B4C;
  padding: 0 20px;
  margin: 40px 0;
}

.portfolio-item-page-content img{
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.portfolio-item-tool{
  padding: 20px 15%;
  text-align: center;
}

.back-to-portfolio-button {
  color: white;
  background-color: #555;
  border-radius: 3px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.back-to-top-button {
  color: #333;
  background-color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .portfolio-work {
    padding: 0px;
  }

  .portfolio-work-item {
    flex-direction: column;
    margin-bottom: 0;
    padding: 20px;
  }

  .portfolio-item-page-body {
    flex-direction: column-reverse;
    padding: 20px 10px;
  }

  .portfolio-item-page-header-content{
    top: 20%;
    left: 10px;
  }

  .portfolio-item-tool{
    padding: 20px;
  }

  .portfolio-item-page-header h1{
    font-size: 30px;
  }
}