.Portfolio{
}

/* Portfolio Item */
.portfolio-item {
  margin-bottom: 30px;
  padding: 0px;
  background-color: white;
  /*box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 4px 0px rgba(0, 0, 0, 0.2);*/
  cursor: pointer;
}

a :hover .portfolio-item-content {
  display: block;
  color: #eee;
}

a :hover .portfolio-item-title {
  color: #333;
}

.portfolio-item-image{
  position: relative;
}

.portfolio-item-image img{
  width: 100%;
  height: auto;
}

.portfolio-item-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-item-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: none;
  background-color: rgba(31, 139, 76, 0.8);
}

.view-more-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 1px;
}

/* Portfolio Item Page */
#portfolio-item-page{
}

.back-to-portfolio-button {
  color: white;
  background-color: #555;
  border-radius: 3px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.back-to-top-button {
  color: #333;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

#portfolio-item-page-intro{
  padding: 40px;
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

#portfolio-item-page-cover-image {
  margin-top: -40px;
  margin-left: -40px;
  margin-right: -40px;
  text-align: center;
  position: relative;
}

#portfolio-item-page-cover-image img{
  width: 100%;
  height: auto;
}

#portfolio-item-page-descriptions{
  margin-top: 40px;
  margin-bottom: 20px;
}

#portfolio-item-page-info {
}

#portfolio-item-page-info .title h4{
  font-weight: 400;
}

#portfolio-item-page-info .content h4{
  font-weight: 300;
}

#portfolio-item-page-story{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Portfolio Item Page Section */
.portfolio-item-page-section {
  margin-bottom: 20px;
}

.portfolio-item-page-section h4{
  font-weight: 300;
}

.portfolio-item-page-section h5{
  line-height: 25px;
}

/* Portfolio Item Page Image */
.portfolio-item-page-image {
  margin-bottom: 30px;
}

.portfolio-item-page-image img{
  width: 100%;
  height: auto;
}