.App {
  /*text-align: center;*/
  background-color: #EBEBEB;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #000;
  height: 50px;
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 5px 0px #555;
}

.App-body {
  font-size: large;
}

#about {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 10px 0px #aaa;
}

.App-footer {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
