.App {
  /*text-align: center;*/
  /*background-color: #EBEBEB;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: fixed;
  z-index: 9999;
  text-align: center;
  background-color: #000;
  height: 70px;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px #555;
}

.App-body {
}

.section-title{
  margin-bottom: 50px;
  color: #555;
  text-align: center;
}

.section-box{
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.App-footer {
	background-color: #333;
	box-shadow: 0px 0px 5px 0px #666;
  color: #eee;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
