@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EBEBEB;
}

h1, h2, h3 {
	font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  line-height: 30px;
	font-weight: 400;
}

h5, p, span {
	font-weight: 300;
}

a{
  color: #1F8B4C;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  color: #1F8B4C;
  text-decoration: none;
}