@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EBEBEB;
}

h1, h2, h3 {
	font-weight: 700;
}

h4 {
	font-weight: 400;
}

h5, p, span {
	font-weight: 300;
}

a{
  color: black;
  cursor: pointer;
}